@page "/"
@inject HomeService HomeService
@rendermode InteractiveServer


<PageTitle>Customer List</PageTitle>

<h3>Customers and Service Visits</h3>

<button class="btn btn-primary" @onclick="ShowAddCustomerDialog">Add Customer</button>
<button class="btn btn-info" @onclick="ShowFindByIdDialog">Find by ID</button>
<button class="btn btn-info" @onclick="ShowFindByEcvDialog">Find by EČV</button>

<div>
    @if (_customers.Any())
    {
        <ul>
            @foreach (var customer in _customers)
            {
                <li>
                    <strong>@customer.Id @customer.Ecv @customer.Name @customer.LastName</strong>
                    <ul>
                        @if (customer.ServiceVisit.Any())
                        {
                            @for(int i = 0; i < customer.ValidServiceNum; ++i)
                            {
                                <li>
                                    <strong>Date:</strong> @customer.ServiceVisit[i].Date <br />
                                    <strong>Price:</strong> @customer.ServiceVisit[i].Price
                                    @for(int j = 0; j < customer.ServiceVisit[i]._validDesc; ++j) {
                                        <strong>Description @j:</strong> @customer.ServiceVisit[i].Description[j];
                                    }
                                </li>
                            }
                        }
                        else
                        {
                            <li>No service visits available.</li>
                        }
                    </ul>
                    @if (customer.ServiceVisit.Count() < customer.ValidServiceNum) 
                    {
                        <button class="btn btn-primary btn-sm" @onclick="() => ShowAddServiceVisitDialog(customer.Id, customer.Ecv)">Add Service Visit</button>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No customers available.</p>
    }
</div>

<AddDialog 
    IsVisible="@isAddDialogVisible" 
    CustomerId="@_id" 
    Ecv="@_ecv" 
    CustomerName="@_name" 
    CustomerLastName="@_lastName"
    OnClose="CloseAddCustomerDialog"
    OnSubmit="AddCustomer" />

<AddServiceVisitDialog 
    IsVisible="@isAddServiceVisitDialogVisible" 
    CustomerId="@_id" 
    Ecv="@_ecv" 
    Date="@_date" 
    Price="@_price"
    Description1="@_description1"
    Description2="@_description2"
    Description3="@_description3"
    Description4="@_description4"
    Description5="@_description5"
    Description6="@_description6"
    Description7="@_description7"
    Description8="@_description8"
    Description9="@_description9"
    Description10="@_description10"
    OnClose="CloseAddServiceVisitDialog"
    OnSubmit="AddServiceVisit" />

<FindByIdDialog
    @bind-IsVisible="isFindByIdDialogVisible"  
    CustomerId="@_id" 
    OnClose="CloseFindByIdDialog"
    OnSubmit="FindById" />

<FindByEcvDialog
    @bind-IsVisible="isFindByEcvDialogVisible"   
    Ecv="@_ecv" 
    OnClose="CloseFindByEcvDialog"
    OnSubmit="FindByEcv" />

@code {
    private List<Customer> _customers = new();

    private bool isAddDialogVisible = false;
    private bool isFindByIdDialogVisible = false;
    private bool isFindByEcvDialogVisible = false;
    private bool isAddServiceVisitDialogVisible = false;

    private int _id = 0;
    private string _ecv = "";
    private string _name = "";
    private string _lastName = "";

    private DateTime _date { get; set; } = DateTime.MinValue;
    private double _price { get; set; } = 0.0;
    private string _description1 { get; set; } = "";
    private string _description2 { get; set; } = "";
    private string _description3 { get; set; } = "";
    private string _description4 { get; set; } = "";
    private string _description5 { get; set; } = "";
    private string _description6 { get; set; } = "";
    private string _description7 { get; set; } = "";
    private string _description8 { get; set; } = "";
    private string _description9 { get; set; } = "";
    private string _description10 { get; set; } = "";


    public void AddCustomer(Customer customer) {
        HomeService.Add(customer.Id, customer.Ecv, customer.Name, customer.LastName);

        isAddDialogVisible = false;
        StateHasChanged();
    }

    public void FindById(int customerId) {
        _id = customerId;
        _customers.Add(HomeService.FindById(_id));

        isFindByIdDialogVisible = false;
        StateHasChanged();
    }

    public void FindByEcv(string ecv) {
        _customers.Add(HomeService.FindByEcv(ecv));

        isFindByEcvDialogVisible = false;
        StateHasChanged();
    }

    public void AddServiceVisit() {

    }

    void ShowAddCustomerDialog()
    {
        _id = 0;
        _ecv = "";
        _name = "";
        _lastName = "";

        isAddDialogVisible = true;
        StateHasChanged();
    }

     void CloseAddCustomerDialog()
    {
        isAddDialogVisible = false;
        StateHasChanged();
    }

    void ShowFindByIdDialog()
    {
        _id = 0;

        isFindByIdDialogVisible = true;
        StateHasChanged();
    }

     void CloseFindByIdDialog()
    {
        isFindByIdDialogVisible = true;
        StateHasChanged();
    }

    void ShowFindByEcvDialog()
    {
        _ecv = "";

        isFindByEcvDialogVisible = true;
        StateHasChanged();
    }

     void CloseFindByEcvDialog()
    {
        isFindByEcvDialogVisible = true;
        StateHasChanged();
    }

    void ShowAddServiceVisitDialog(int id, string ecv)
    {
        _id = id;
        _ecv = ecv;
        isAddServiceVisitDialogVisible = true;
        StateHasChanged();
    }

    void CloseAddServiceVisitDialog()
    {
        isAddServiceVisitDialogVisible = false;
        StateHasChanged();
    }
}